# Blur для системных уведомлений.
# Используется тот же синтаксис, что и для quickshell taskbar.

layerrule = blur true, match:namespace notifications
layerrule = ignore_alpha 0.2, match:namespace notifications
